<h3>Cursos {{count}}</h3>
<div class="row bg-primary p-1">
  <div class="col-md-1 text-white text-center">Curso</div>
  <div class="col-md-1 text-white text-center">Año</div>
  <div class="col-md-1 text-white text-center">Dia</div>
  <div class="col-md-1 text-white text-center">Hora</div>
  <div class="col-md-2 text-white text-center">Edificio</div>
  <div class="col-md-1 text-white text-center">Estudiantes</div>
  <div class="col-md-1 text-white text-center">Instructor</div>
  <div class="col-md-1 text-white text-center">Asistencia</div>
  <div class="col-md-1 text-white text-center">Registrar Estudiante</div>
  <div class="col-md-1 text-white text-center" *ngIf="admin === true">Editar Curso</div>
  <div class="col-md-1 text-white text-center" *ngIf="admin === true">Borrar Curso</div>
</div>
<div class="row p-1 border border-secondary">
  <div class="col-md-1"><input class="form-control" type="search" name="search" [(ngModel)]="searchName" placeholder="Name"></div>
  <div class="col-md-1"><input class="form-control" type="search" name="search" [(ngModel)]="searchYear" placeholder="Year"></div>
  <div class="col-md-1"><input class="form-control" type="search" name="search" [(ngModel)]="searchDay" placeholder="Day"></div>
  <div class="col-md-1"><input class="form-control" type="search" name="search" [(ngModel)]="searchTime" placeholder="Time"></div>
  <div class="col-md-2"><input class="form-control" type="search" name="search" [(ngModel)]="searchBuilding" placeholder="Building"></div>
  <div class="col-md-1"><input class="form-control" type="search" name="search" [(ngModel)]="searchStudents" placeholder="Count"></div>
  <div class="col-md-1"><input class="form-control" type="search" name="search" [(ngModel)]="searchInstructor" placeholder="Instructor"></div>
</div>
<div *ngFor="let course of filteredCourses">
  <div id="table" class="row p-1 border border-secondary" *ngIf="course.instructorEmail === email || admin === true">
    <div class="col-md-1 text-center">{{course.name}} {{course.level}}</div>
    <div class="col-md-1 text-center">{{course.year}}</div>
    <div class="col-md-1 text-center">{{course.day}}</div>
    <div class="col-md-1 text-center">{{course.time}}</div>
    <div class="col-md-2 text-center">{{course.building}}</div>
    <div [routerLink]="['/students/group', course.id]" class="col-md-1 text-center"><button class="btn btn-link p-0">{{course.count}}</button></div>
    <div class="col-md-1 text-center">{{course.instructorName}} {{course.last_name}}</div>
    <div [routerLink]="['/attendance/group', course.id]" class="col-md-1 text-center"><button class="btn btn-link p-0">Asistencia</button></div>
    <div class="col-md-1 text-center"><button [routerLink]="['/student/add', course.id]" [disabled]="course.year !== currentYear && admin == false" class="btn btn-link p-0">Registrar</button></div >
    <div [routerLink]="['/course/edit', course.id]" *ngIf="admin === true"
          class="col text-center"><button class="btn btn-link p-0">Editar</button></div>
    <div class="col-md-1 text-center" *ngIf="admin === true">
      <button class="btn btn-link p-0" (click)="deleteCourse(course.id)">Borrar</button>
    </div>
  </div>
</div>
