<h3>Courses</h3>
<div class="row bg-primary p-1">
  <div class="col text-white text-center">Course</div>
  <div class="col text-white text-center">Day</div>
  <div class="col text-white text-center">Time</div>
  <div class="col text-white text-center">Building</div>
  <div class="col text-white text-center">Students</div>
  <div class="col text-white text-center">Instructor</div>
  <div class="col text-white text-center">Attendance</div>
  <div class="col text-white text-center">Enroll Student</div>
  <div class="col text-white text-center">Edit Course</div>
  <div class="col text-white text-center">Delete Course</div>
</div>
<div *ngFor="let course of courses">
  <div class="row p-1 border border-secondary" *ngIf="course.instructorEmail === email">
    <div class="col text-center">{{course.name}} {{course.level}} {{course.year}}</div>
    <div class="col text-center">{{course.day}}</div>
    <div class="col text-center">{{course.time}}</div>
    <div class="col text-center">{{course.building}}</div>
    <div [routerLink]="['/students/group', course.id]" class="col text-center"><button class="btn btn-link p-0">{{course.count}}</button></div>
    <div class="col text-center">{{course.instructorName}} {{course.last_name}}</div>
    <div [routerLink]="['/attendance/group', course.id]" class="col text-center"><button class="btn btn-link p-0">Attendance</button></div>
    <div [routerLink]="['/student/add', course.id]" class="col text-center"><button class="btn btn-link p-0">Enroll</button></div>
    <div [routerLink]="['/course/edit', course.id]"
          class="col text-center"><button class="btn btn-link p-0">Edit</button></div>
    <div class="col text-center">
      <button class="btn btn-link p-0" (click)="deleteCourse(course.id)">Delete</button>
    </div>
  </div>
</div>
