<h3>Users</h3>
<div class="row bg-primary p-1">
  <div class="col text-white text-center">User Name</div>
  <div class="col text-white text-center">Last SignIn</div>
  <div class="col text-white text-center">Created At</div>
  <div class="col text-white text-center">Disabled</div>
  <div class="col text-white text-center">Edit</div>
</div>
<div class="row p-1 border border-secondary" *ngFor="let fireBaseUser of fireBaseUsers">
  <div class="col text-center sm-3">{{fireBaseUser.email}}</div>
  <div class="col text-center sm-3">{{fireBaseUser.metadata.lastSignInTime}}</div>
  <div class="col text-center sm-3">{{fireBaseUser.metadata.creationTime}}</div>
  <div class="col text-center sm-3">{{fireBaseUser.disabled}}</div>
  <div [routerLink]="['/user/update', fireBaseUser.uid]" class="col text-center">
    <button class="btn btn-warning">Edit</button>
  </div>
  <div class="col text-center">
    <button class="btn btn-info" (click)="getById(fireBaseUser.uid)">
        Reset Password
    </button>
  </div>
