<div class="col-md-6 offset-3">
  <h3>Add / Edit Student</h3>
  <div class="card">
    <div class="card-body">
      <form>
          <div class="form-group">
            <input type="text" name="name" #name="ngModel"placeholder="Student name" pattern="^[a-zA-Z\s]*$"
          required [(ngModel)]="student.name" class="form-control" autofocus>
        </div>
        <div class="alert alert-danger" *ngIf="name.value === '' && name.dirty">
            The student name is required
        </div>
        <div class="alert alert-danger" *ngIf="name.invalid && name.dirty && name.value !== ''">
            Only letters are allowed
        </div>
        <div class="form-group">
            <input type="text" name="lastName" #lastName="ngModel" placeholder="Student last name" pattern="^[a-zA-Z\s]*$"
            required [(ngModel)]="student.last_name" class="form-control" autofocus>
          </div>
          <div class="alert alert-danger" *ngIf="lastName.value === '' && lastName.dirty">
              The student last name is required
          </div>
          <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.dirty && lastName.value !== ''">
              Only letters are allowed
          </div>
          <div class="form-group">
            <select name="age" class="form-control"
                    [(ngModel)]="student.age">
              <option *ngFor="let age of ages let i = index"
              [ngValue]="age"
              [selected]="student.age === age && edit === true">{{age}}</option>
            </select>
          </div>
        <div class="form-group">
            <input type="email" name="email" #email="ngModel" required email placeholder="Email"
            [(ngModel)]="student.email" class="form-control" autofocus>
        </div>
        <div class="alert alert-danger" *ngIf="email.value === '' && email.dirty">
            Email field is required
        </div>
        <div class="alert alert-danger" *ngIf="email?.errors?.email && email.touched && email.dirty">
          Email format not valid.
        </div>
        <div class="form-group">
            <input type="text" name="phone" #phone="ngModel" pattern="[0-9]{10}"
            required placeholder="Student Phone" [(ngModel)]="student.phone" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="phone.value === '' && phone.dirty">
            Phone field is required
        </div>
        <div class="alert alert-danger" *ngIf="phone.invalid && phone.dirty && phone.value !== ''">
            Only 10 digits are allowed
        </div>
        <div class="form-group">
          <select name="ward" class="form-control"
                  [(ngModel)]="student.ward">
            <option *ngFor="let ward of wards let i = index"
            [ngValue]="ward"
            [selected]="student.ward === ward && edit === true">{{ward}}</option>
          </select>
        </div>
        <div class="form-group">
          <select name="member" class="form-control"
                  [(ngModel)]="student.member">
            <option *ngFor="let member of members let i = index"
            [ngValue]="member"
            [selected]="student.member === member && edit === true">{{member}}</option>
          </select>
        </div>
        <button class="btn btn-danger btn-block" (click)="edit ? updateStudent() : saveNewStudent()"
        [disabled]="!name.valid || !lastName.valid || !email.valid || !phone.valid">
          SAVE
        </button>
      </form>
    </div>
  </div>
</div>

