<div class="col-md-6 offset-3">
  <h3>Add / Edit Student</h3>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="name" #name="ngModel" required placeholder="Student name" [(ngModel)]="student.name" class="form-control" autofocus>
        </div>
        <div class="alert alert-danger" *ngIf="name.invalid && name.dirty">
            Name field is required
        </div>
        <div class="form-group">
            <input type="text" name="last_name" #lastName="ngModel" required placeholder="Student Last Name" [(ngModel)]="student.last_name" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.dirty">
            Last name field is required
        </div>
        <div class="form-group">
            <input type="text" name="age" #age="ngModel" required placeholder="Student Age" [(ngModel)]="student.age" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="age.invalid && age.dirty">
            Age field is required
        </div>
        <div class="form-group">
            <input type="text" name="email" #email="ngModel" required placeholder="Student Email" [(ngModel)]="student.email" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="email.invalid && email.dirty">
            Email field is required
        </div>
        <div class="form-group">
            <input type="text" name="phone" #phone="ngModel" required placeholder="Student Phone" [(ngModel)]="student.phone" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="phone.invalid && phone.dirty">
            Phone field is required
        </div>
        <button class="btn btn-danger btn-block" (click)="edit ? updateStudent() : saveNewStudent()"
        [disabled]="!name.valid || !lastName.valid || !age.valid || !email.valid || !phone.valid">
          SAVE
        </button>
      </form>
    </div>
  </div>
</div>

