<h3>Attendance By Date</h3>
<div class="row">
  <div class="col p-0">
    <div>
      <div class="col-md-12 p-0">
          <div class="col col-md-4 p-1 offset-8">
              <button [routerLink]="['/attendance/register', course.id]" class="btn btn-warning btn-block">Register Attendance</button>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row bg-success p-1">
  <div class="col text-white text-center">Date</div>
  <div class="col text-white text-center">Attendance</div>
  <div class="col text-white text-center">Lesson</div>
  <div class="col text-white text-center">Edit</div>
  <div class="col text-white text-center">Delete</div>
</div>
<div class="row p-1 border border-secondary" *ngFor="let attendance of attendanceList">
  <div class="col text-center">{{attendance.date | date : "MM/dd/yyyy"}}</div>
  <div class="col text-center"><a [routerLink]="['/student/group', course.id, attendance.date | date: 'yyyy-MM-dd']">{{attendance.Yes}} / {{attendance.Total}}</a></div>
  <div class="col text-center">{{attendance.lesson}}</div>
  <div [routerLink]="['/attendance/edit', attendance.id]" class="col text-center"><button class="btn btn-link p-0">Edit</button></div>
  <div class="col text-center"><button class="btn btn-link p-0" (click)="deleteAttendance(attendance.id)">Delete</button></div>
</div>

